<!DOCTYPE html>
<html>

<head>
	<title>Word game</title>

	<link rel="stylesheet" href="wordle.css?version=51">
	<h1>Wordle</h1>
</head>

<body>
	<div class="letterrow">
		<div class="letterbox">H</div>
		<div class="wrongletter">A</div>
		<div class="correctletter">B</div>
	</div>
	<div class="letterrow">
		<div class="letterbox" class="wrong"></div>
		<div class="letterbox"></div>
		<div class="letterbox"></div>
	</div>
	<div class="letterrow">
		<div class="letterbox"></div>
		<div class="letterbox"></div>
		<div class="letterbox"></div>
	</div>
	<div class="letterrow">
		<div class="letterbox"></div>
		<div class="letterbox"></div>
		<div class="letterbox"></div>
	</div>

</body>

</html>