<!DOCTYPE>
<html>

<head>
	<title>Word game</title>

	<link type="text/css" rel="stylesheet" href="./static/wordle.css" />
	<h1>Wordle</h1>
</head>

<body>
	<div class=letterrow>
		<div class=letterbox>H</div>
		<div class=wrongletter>A</div>
		<div class=correctletter>B</div>
		<div class=wronglocation>C</div>
	</div>
	<div class=letterrow>
		<div class=letterbox class=wrong></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
	</div>
	<div class=letterrow>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
	</div>
	<div class=letterrow>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
	</div>
	<div class=letterrow>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
		<div class=letterbox></div>
	</div>

</body>

</html>